# Python 3.6.8 
# Nodejs outside conda?

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-180defb42406> in <module>
----> 1 observations = io.load_data(FOLDERS.PROCESSED, CTX + 'observations', pd.DataFrame())
      2 observations

~/Documents/projects/coursera-comp-ds-final-project/src/data/io.py in load_data(folder, filename, hint)
     29     print('Loading ' + path)
     30     if isinstance(hint, pd.DataFrame):
---> 31         data = pd.read_hdf(path, _DATASET_KEY)
     32     elif isinstance(hint, np.ndarray):
     33         with h5py.File(path,'r') as f:

~/miniconda3/envs/comp-ds/lib/python3.6/site-packages/pandas/io/pytables.py in read_hdf(path_or_buf, key, mode, **kwargs)
    392                                      'contains multiple datasets.')
    393             key = candidate_only_group._v_pathname
--> 394         return store.select(key, auto_close=auto_close, **kwargs)
    395     except:
    396         # if there is an error, close the store

~/miniconda3/envs/comp-ds/lib/python3.6/site-packages/pandas/io/pytables.py in select(self, key, where, start, stop, columns, iterator, chunksize, auto_close, **kwargs)
    739                            chunksize=chunksize, auto_close=auto_close)
    740 
--> 741         return it.get_result()
    742 
    743     def select_as_coordinates(

~/miniconda3/envs/comp-ds/lib/python3.6/site-packages/pandas/io/pytables.py in get_result(self, coordinates)
   1481 
   1482         # directly return the result
-> 1483         results = self.func(self.start, self.stop, where)
   1484         self.close()
   1485         return results

~/miniconda3/envs/comp-ds/lib/python3.6/site-packages/pandas/io/pytables.py in func(_start, _stop, _where)
    732             return s.read(start=_start, stop=_stop,
    733                           where=_where,
--> 734                           columns=columns)
    735 
    736         # create the iterator

~/miniconda3/envs/comp-ds/lib/python3.6/site-packages/pandas/io/pytables.py in read(self, start, stop, **kwargs)
   2935             blk_items = self.read_index('block%d_items' % i)
   2936             values = self.read_array('block%d_values' % i,
-> 2937                                      start=_start, stop=_stop)
   2938             blk = make_block(values,
   2939                              placement=items.get_indexer(blk_items))

~/miniconda3/envs/comp-ds/lib/python3.6/site-packages/pandas/io/pytables.py in read_array(self, key, start, stop)
   2487 
   2488         if isinstance(node, tables.VLArray):
-> 2489             ret = node[0][start:stop]
   2490         else:
   2491             dtype = getattr(attrs, 'value_type', None)

~/miniconda3/envs/comp-ds/lib/python3.6/site-packages/tables/vlarray.py in __getitem__(self, key)
    679                 key += self.nrows
    680             (start, stop, step) = self._process_range(key, key + 1, 1)
--> 681             return self.read(start, stop, step)[0]
    682         elif isinstance(key, slice):
    683             start, stop, step = self._process_range(

~/miniconda3/envs/comp-ds/lib/python3.6/site-packages/tables/vlarray.py in read(self, start, stop, step)
    819             listarr = []
    820         else:
--> 821             listarr = self._read_array(start, stop, step)
    822 
    823         atom = self.atom

tables/hdf5extension.pyx in tables.hdf5extension.VLArray._read_array()

ValueError: cannot set WRITEABLE flag to True of this array


# external requirements
python-dotenv==0.10.1
jupyter==1.0.0
jupyterlab==0.35.4
tqdm==4.29.1
numpy==1.16.0
pandas==0.23.4
matplotlib==3.0.2
holoviews==1.11.0
hvplot==0.3.0
tables==3.4.4
h5py==2.9.0
joblib==0.13.1
scikit-learn==0.20.2
sklearn-pandas==1.8.0
xgboost==0.81
tensorflow==1.12.0
#nltk
#gensim

# local package
Skipping line in requirement file [requirements.txt] because it's not clear what it would install: .
  (add #egg=PackageName to the URL to avoid this warning)
## The following requirements were added by pip freeze:
absl-py==0.7.0
astor==0.7.1
backcall==0.1.0
bleach==3.0.2
bokeh==1.0.4
certifi==2018.11.29
Click==7.0
cycler==0.10.0
decorator==4.3.0
entrypoints==0.2.3
gast==0.2.2
grpcio==1.18.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
mistune==0.8.4
nb-conda==2.2.1
nb-conda-kernels==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
nodejs==0.1.1
notebook==5.7.4
numexpr==2.6.9
optional-django==0.1.0
packaging==18.0
pandocfilters==1.4.2
param==1.8.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
pyviz-comms==0.7.0
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
-e git+https://github.com/mortennp/projects.git@6983b0e85a2c1f39ee362972037224037b649236#egg=src&subdirectory=coursera-comp-ds-final-project
tensorboard==1.12.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
