# external requirements
click
python-dotenv
numpy
pandas
matplotlib
Seaborn
Bokeh
holoviews[extras]
hvplot
#hdf5
h5py
#tables
joblib
scikit-learn
sklearn-pandas
xgboost
#tensorflow
#keras
#nltk
#gensim
#jupyter
#jupyterlab
tqdm


# local package
#-e . # Done with notebook

