# external requirements
click
python-dotenv
numpy
pandas
matplotlib
Seaborn
Bokeh
holoviews
hvplot
tables
h5py
joblib
scikit-learn
sklearn-pandas
xgboost
tensorflow
keras
#nltk
#gensim
jupyter
jupyterlab
tqdm


# local package
-e .

